@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
  --main-orange-color: #F8BA63;
}
.sidebar-nav {
  width: var(--offcanvas-width);
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
  #Question_Template_Scale, #Question_Template_Alternative{
    visibility: hidden !important; 
  }
}

.myButton{
  background-color: var(--main-orange-color);
}

#nav-list a {
  color: #fff;
}

#nav-list .active {
  background-color: #404E5C;
  color: #F8BA63;
  border: none;
  border-bottom: 3px solid #074EE8;
}

#nav-list a, li:hover {
  border: none;
}

table, th, td {
  border: none;
}


#myTable {
  border: 2px solid #5A6A87;
}

#myTable a {
  text-decoration: none;
  color: #E1AC62;
  font-size: 1.3em;
  font-weight: bold;
}

.modal-content{
  background-color: #404E5C;
}