{% extends 'base.html' %}
{% block title %}Formulário Guess18{% endblock %}

{% block content %}
	<script>
		var clicks = 0;
		function add(type) {
			clicks += 1; $("#ClickCounter").attr("value",clicks)
			Question_New_Id = `Question_${clicks}`;
			Question_Number = `Number_${clicks}`;
			Button_Id = `Button_Question_${clicks}`;
			if(type == 1)
			{
				var clone = $("#Question_Template_Scale").clone().prop("id", Question_New_Id);
			}
			else if(type == 2)
			{
				var clone = $("#Question_Template_Alternative").clone().prop("id", Question_New_Id);
				clone.find("#alternative_a").attr("name", "AlternativeA_" + Question_New_Id);
				clone.find("#alternative_b").attr("name", "AlternativeB_" + Question_New_Id);
				clone.find("#alternative_c").attr("name", "AlternativeC_" + Question_New_Id);
				clone.find("#alternative_d").attr("name", "AlternativeD_" + Question_New_Id);
			}
			clone.find("#quest_number_").attr("id", Question_Number);
			clone.find("#Btn_Delete").attr("id", Button_Id);
			clone.find("#questionTBox").attr("name", "textBox_" + Question_New_Id); //teste
			clone.appendTo("#wrapper");
			document.getElementById(Question_Number).innerHTML = clicks;
		}

		function removetest(btn_id){
			//REMOÇÂO FUNCIONAL
			var question_number = parseInt(btn_id.replace( /^\D+/g, '')); // replace all leading non-digits with nothing
			//alert("completo: " + btn_id + ", numero: " + question_number);
			//alert("clicks: " + clicks + ", btn_id: " + btn_id);

			document.getElementById(`Question_${question_number}`).remove();
			for (let aux = question_number+1; aux <= clicks; aux++) {
				aux2 = aux-1;
				var wrapper = $("#wrapper");
				wrapper.find(`#Question_${aux}`).attr("id", `Question_${aux2}`);
				wrapper.find(`#Number_${aux}`).attr("id", `Number_${aux2}`);
				wrapper.find(`#Button_Question_${aux}`).attr("id", `Button_Question_${aux2}`);
				document.getElementById(`Number_${aux2}`).innerHTML = aux2;
			}
			clicks -= 1; $("#ClickCounter").attr("value",clicks)
		}
	</script>

    <div class="container">
		<br/><br/><br/>
      	<h3>Questionnaire Creation</h3>
		  <button onclick="add(1)">Add 1-5 Scale question</button>
		  <button onclick="add(2)">Add Alternative question</button>
	    <form action="/thankyou" method="POST">
			<div class="mb-1">
				<label for="questName" class="form-label">Questionnaire Name</label>
				<input type="text" class="form-control" id="questionnaireName" name="questname">
				<div id="questNameInfo" class="form-text">That's the name you will see while chosing a questionnaire to your created game.</div>
				<input type="text" id="ClickCounter" name="ClickCounter" style="visibility: hidden;"> <!--Aux just to get clicks-->
			</div>
		  <h5>Questions and Answers</h5>
		  	<div id="wrapper">
				
			</div>
		  <br/><br/>
		  <div class="mb-3 form-check">
		    <input type="checkbox" class="form-check-input" id="exampleCheck1">
		    <label class="form-check-label" for="exampleCheck1">Check me out</label>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>













	<!--Templates for questions-->
	<!--1-5 Scale Question-->
	<div id="Question_Template_Scale">
		<div class="mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="quest_number_">Template</span>
				</div>
				<input type="text" id="questionTBox" class="form-control" placeholder="Question"/>
				<button id="Btn_Delete" type="button" class="btn btn-danger" onClick="removetest(this.id); return false;">X</button>
			</div>
		</div>
	</div>

	<!--Alternative Question-->
	<div id="Question_Template_Alternative">
		<div class="mb-3">
			<div class="input-group">
				<div class="input-group-prepend">
					<span class="input-group-text" id="quest_number_">Template</span>
				</div>
				<input type="text" id="questionTBox" class="form-control" placeholder="Question"/>
				<button id="Btn_Delete" type="button" class="btn btn-danger" onClick="removetest(this.id); return false;">X</button>
			</div>
			<div class="input-group" style="width: 50%; margin-left: 25px;">
				<div class="input-group-prepend">
					<span class="input-group-text">A</span>
				</div>
				<input type="text" class="form-control" id="alternative_a" placeholder="Choose alternative A"/>
			</div>
			<div class="input-group" style="width: 50%; margin-left: 25px;">
				<div class="input-group-prepend">
					<span class="input-group-text">B</span>
				</div>
				<input type="text" class="form-control" id="alternative_b" placeholder="Choose alternative B"/>
			</div>
			<div class="input-group" style="width: 50%; margin-left: 25px;">
				<div class="input-group-prepend">
					<span class="input-group-text">C</span>
				</div>
				<input type="text" class="form-control" id="alternative_c" placeholder="Choose alternative C"/>
			</div>
			<div class="input-group" style="width: 50%; margin-left: 25px;">
				<div class="input-group-prepend">
					<span class="input-group-text">D</span>
				</div>
				<input type="text" class="form-control" id="alternative_d" placeholder="Choose alternative D"/>
			</div>
		</div>
	</div>
	

{% endblock %}
