{% extends 'base.html' %}
{% block title %}Formulário Guess18{% endblock %}

{% block content %}

	<script>
		function add() {
			/* Create element; can be whatever you want, e. g. div, h1, p, img...
			var div = document.createElement('div');
			
			// Set some attributes
			div.style.width = '200px';
			div.style.height = '200px';
			div.style.backgroundColor = 'red';
			
			// Append the div to the body
			document.body.appendChild(div);*/
			var myDiv = document.getElementById("question");
			var divClone = myDiv.cloneNode(true);
			document.getElementById("wrapper").appendChild(divClone); 
		}
	</script>

    <div class="container">
		<br/><br/><br/>
      	<h3>Questionnaire Creation</h3>
		  <button onclick="add()">Add div</button>
	    <form action="/thankyou" method="POST">
			<div class="mb-1">
				<label for="questName" class="form-label">Questionnaire Name</label>
				<input type="text" class="form-control" id="questionnaireName" name="questname">
				<div id="questNameInfo" class="form-text">That's the name you will see while chosing a questionnaire to your created game.</div>
			</div>
		  <br/><br/>
		  <h5>Questions and Answers</h5>
		  	<div id="wrapper">
				<div id="question">
					<div class="mb-3">
						<div class="input-group">
							<div class="input-group-prepend">
								<span class="input-group-text" id="basic-addon1">1</span>
							</div>
							<input type="text" class="form-control" placeholder="Question"/>
							<input type="text" class="form-control" placeholder="Answer"/>
						</div>
					</div>
				</div>
			</div>
		  <br/><br/>
		  <div class="mb-3 form-check">
		    <input type="checkbox" class="form-check-input" id="exampleCheck1">
		    <label class="form-check-label" for="exampleCheck1">Check me out</label>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>
	
	

{% endblock %}
