{% extends "base.html" %}

{% block content %}
<div class="col mt-1">
    <div class="row" id="first-row">
        <div class="col-3">
            <p class="h1 text-light">Stats and Insights</p>
        </div>
        <div class="dropdown col">
            <button class="btn btn-secondary dropdown-toggle mt-2" type="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false" aria-haspopup="true">All games</button>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    </div>

    <div class="row mt-2">
        <div class="container">
            <div class="row border border-lg-white">
                <div class="col d-flex">
                    <a href="#" class="nav-link">Engagement</a>
                    <a href="#" class="nav-link">Gameplay</a>
                </div>
                <div class="col-3 d-flex ">
                    <a href="#" class="nav-link text-warning">Days</a>
                    <a href="#" class="nav-link text-warning">Weeks</a>
                    <a href="#" class="nav-link text-warning">Months</a>
                    <a href="#" class="nav-link text-warning">Years</a>

                </div>
            </div>
        </div>
    </div>

    <!-- COMECOOOOOO -->

    <div class="row mt-2">
        <div class="col">
          <iframe class="responsive-iframe" src="dashboardOrigin" height="590px" width="100%"></iframe>
        </div>
      </div>
      <div class="row">
      
        <ul class="nav nav-tabs nav-justified" role="tablist" id="nav-list">
          <li class="nav-item">
            <a class="nav-link d-flex flex-column active" href="#plays_tab" data-bs-toggle="tab" role="tab"
              data-bs-target="#plays_tab">
              <i class="bi bi-play h3 mb-0"></i>
              Plays
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column" href="#players_tab" data-bs-toggle="tab" data-bs-target="#players_tab">
              <i class="bi bi-people h3 mb-0"></i>
              Players
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column " href="#hours_game_tab" data-bs-toggle="tab"
              data-bs-target="#hours_game_tab">
              <i class="bi bi-clock h3 mb-0"></i>
              Hours/game
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link d-flex flex-column " href="#rating_tab" data-bs-toggle="tab" data-bs-target="#rating_tab">
              <i class="bi bi-star h3 mb-0 "></i>
              Ratings
            </a>
          </li>
        </ul>
      
        <div class="row">
          <div class="col">
            <div class="tab-content">
              <div class="tab-pane active" id="plays_tab">
                <div class="d-flex justify-content-center">
                  <div id="myTable" class="col-8 mt-5">
                    <div class="d-flex justify-content-between text-light h5">
                      <div>Summary</div>
                      <i class="bi bi-chevron-right mx-2"></i>
                    </div>
      
                    <table class="table text-light">
                      <thead>
                        <tr>
                          <th scope="col">Game Title</th>
                          <th scope="col">User</th>
                          <th scope="col">Plays</th>
                          <th scope="col">Finished</th>
                          <th scope="col">Hour/Card</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">My Game</th>
                          <td>Mark</td>
                          <td>5271 </td>
                          <td>5271</td>
                          <td>5271</td>
                        </tr>
      
                        <tr>
                          <th scope="row">My Game</th>
                          <td>Mark</td>
                          <td>5271 </td>
                          <td>5271</td>
                          <td>5271</td>
                        </tr>
      
                        <tr>
                          <th scope="row">My Game</th>
                          <td>Mark</td>
                          <td>5271 </td>
                          <td>5271</td>
                          <td>5271</td>
                        </tr>
      
                        <tr>
                          <th scope="row">My Game</th>
                          <td>Mark</td>
                          <td>5271 </td>
                          <td>5271</td>
                          <td>5271</td>
                        </tr>
      
                      </tbody>
                    </table>
      
                    <div>
                      <a href="#">View all</a>
                    </div>
      
                  </div>
                </div>
      
      
      
      
              </div>
              <div class="tab-pane" id="players_tab">
                <h3>tab 222</h3>
                Players tab
              </div>
              <div class="tab-pane" id="hours_game_tab">
                <h3>tab 3333</h3>
                Hours/game tab
              </div>
              <div class="tab-pane" id="rating_tab">
                <h3>tab 4</h3>
                Ratings tab
              </div>
            </div>
      
          </div>
        </div>
      </div>

      <!-- fimmmm -->


 
</div>
{% endblock %}