{% extends 'base.html' %}

{% block content %} 
 
 <!-- offcanvas -->
<main class="mt-5 pt-3">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h4>Dashboard</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://i.blogs.es/eda104/reigns/1366_2000.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="/dash_presentation" class="btn btn-primary">Go to Dash</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://i.blogs.es/eda104/reigns/1366_2000.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to Dash</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://i.blogs.es/eda104/reigns/1366_2000.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to Dash</a>
          </div>
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="https://i.blogs.es/eda104/reigns/1366_2000.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go to Dash</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}